/* .app{
    margin: 20px;
    padding:20px;
    justify-content: center;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 19);
  }
  .icon{
    display: flex;
    flex-direction: column;
    font-size: 40px;
    margin-top: 45px;
  }
  
  .text{
    font-weight: bold;
    color:#027068;
    font-size: 25px;
  
   }
    */
     
    .form{
        background-color:rgb(174, 196, 196);
        margin-left: 300px;
        margin-right: 300px;
        margin-top:80px;
        text-align: center;
      }
   
   /* .row{
     align-items: center;
     margin-left: 550px;
   }
   .row-one{
     align-items: center;
     margin-left: 550px;
   }
   .text-center{
    align-items: center;
    margin-left: 550px;
   } */
   #link{
   text-decoration: none;
   }
   